@import "reset"; // обнуляющие стили
@import "fonts";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "vars"; // переменные
@import "mixins"; // миксины
/*=========================================================================*/
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.349);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.overlay--active {
  visibility: visible;
  opacity: 1;
}
.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}
.burger {
  @media screen and (max-width: 1780px) {
    position: fixed;
    top: 50px;
    right: 50%;
    left: 50%;
    z-index: 150;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;

    span {
      display: block;
      width: 50px;
      height: 6px;
      background-color: #11b29f;
      border-radius: 3px;
      margin: 4px 0;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 6px;
      background-color: #11b29f;
      border-radius: 3px;
    }
  }
  &__open {
    left: 83%;
    transform: rotateZ(360deg);
  }
  @media screen and (max-width: 400px) {
    &__open {
      left: 80%;
    }
  }
}

.header {
  &__inner {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1780px) {
      flex-direction: column;
      margin: 0;
      align-items: center;
    }
    @media screen and (max-width: 1090px) {
    }
  }

  &__logo {
    margin-right: 50px;
    @media screen and (max-width: 1780px) {
      margin: 0 0 30px 0;
      img {
        width: 65px;
        height: 65px;
      }
    }
    @media screen and (max-width: 1090px) {
    }
  }

  &__socials {
    display: flex;
    margin-right: 60px;
    @media screen and (max-width: 1780px) {
      margin: 0 0 20px 0;
    }
    @media screen and (max-width: 1090px) {
    }
  }

  &__socials-item {
    margin-right: 15px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.4);
    }
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 1780px) {
      svg {
        width: 34px;
        height: 34px;
      }
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__socials-link {
  }

  &__nav {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    margin-right: 80px;
    white-space: nowrap;
    @media screen and (max-width: 1780px) {
      margin: 0 0 40px 0;
      flex-direction: column;
    }
  }

  &__nav-list {
    display: flex;
    @media screen and (max-width: 1780px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__nav-item {
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;
    color: #aaaaaa;
    display: flex;
    min-width: 40px;
    margin-right: 35px;
    transition: all 0.3s;

    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.1);
    }
    @media screen and (max-width: 1780px) {
      margin: 0 0 30px 0;
      font-size: 22px;
      &:last-child {
        margin: 0;
      }
    }
  }

  &__nav-link {
    &:focus {
      color: #01678a;
    }
  }

  &__adress {
    position: relative;
    margin-right: 40px;
    display: block;
    margin-left: 15px;
    white-space: nowrap;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: -34px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background: url("../images/icons/mini-location-icon.svg") 0 0/100%
        no-repeat;
    }
    @media screen and (max-width: 1780px) {
      display: flex;
      flex-direction: column;
      margin: 0 0 20px 0;
      align-items: center;
      &::before {
        width: 30px;
        height: 30px;
      }
    }
    @media screen and (max-width: 1090px) {
    }
  }

  &__adress-text {
    font-size: 15px;
    line-height: 17px;
    color: #474747;
    @media screen and (max-width: 1780px) {
      font-size: 20px;
    }
  }

  &__time {
    margin-right: 60px;

    white-space: nowrap;
    padding-left: 35px;
    position: relative;
    font-family: "Panton", sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #12354b;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url("../images/icons/calendar-icon.svg");
    }
    @media screen and (max-width: 1780px) {
      font-size: 20px;
      margin: 0 0 20px 0;
    }
    @media screen and (max-width: 1090px) {
    }
  }

  &__time-days {
    margin-left: 10px;
    color: #919191;
    font-family: "Panton";
    @media screen and (max-width: 1090px) {
    }
  }

  &__phone {
    display: block;
    position: relative;
    margin-right: 30px;
    min-width: 160px;
    font-family: "Panton-Bold";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #3c3c3c;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 19px;
      height: 19px;
      top: 50%;
      left: -15%;
      transform: translateY(-50%);
      background: url("../images/icons/phone-icon.svg") 0 0/100% no-repeat;
    }
    @media screen and (max-width: 1780px) {
      margin: 0 0 20px 0;
      font-size: 20px;
      &::before {
        width: 26px;
        height: 26px;
      }
    }
  }

  &__btn {
    display: inline-block;
    padding: 11px 35px;
    background: #38bcea;
    border-radius: 3px;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    white-space: nowrap;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    @media screen and (max-width: 1780px) {
      padding: 18px 35px;
      font-size: 20px;
    }
    @media screen and (max-width: 1090px) {
    }
  }
  @media screen and (max-width: 1780px) {
    & {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #fff;
      z-index: 100;
      min-width: 300px;
      transform: translateX(100%);
      transition: all 0.3s;
    }
    &__open {
      @media screen and (max-width: 1780px) {
        transform: translateX(0%);
      }
      @media screen and (max-width: 450px) {
        max-width: none;
        left: 0;
      }
    }
  }
}

.logo {
}
.main {
}
.footer {
}
